<div class="row mt-2">
    <div class="col-12">
        <mat-card>
            <div class="border">
                <mat-card-header>
                    <mat-card-title>
                        <p>Popular Searches</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>                   
                    <p>
                        <a>bangalore pin code</a> |
                        <a>delhi pin code</a> |
                        <a>hyderabad pin code</a> |
                        <a>mumbai pin code</a> |
                        <a>pune pin code</a> |
                        <a>ahmedabad pin code</a> |
                        <a>indore pin code</a> |
                        <a>jaipur pin code</a> |
                        <a>lucknow pin code</a> |
                        <a>gurgaon pin code</a> |
                        <a>bhopal pin code</a> |
                        <a>ghaziabad pin code</a> |
                        <a>kolkata pin code</a> |
                        <a>nagpur pin code</a> |
                        <a>noida pin code</a> |
                        <a>raipur pin code</a> |
                        <a>surat pin code</a> |
                        <a>aurangbad pin code</a> |
                        <a>chandigarh pin code</a> |
                        <a>chennai pin code</a> |
                        <a>ludhiana pin code</a> |
                        <a>bhubaneshwar pin code</a> |
                        <a>dehradun pin code</a> |
                        <a>guwahati pin code</a> |
                        <a>jodhpur pin code</a> |
                        <a>nashik pin code</a> |
                        <a>new delhi pin code</a> |
                        <a>patna pin code</a> |
                        <a>ranchi pin code</a> |
                        <a>thane pin code</a> |
                        <a>varanasi pin code</a> |
                        <a>agra pin code</a> |
                        <a>bareilly pin code</a> |
                        <a>faridabad pin code</a> |
                        <a>gorakhpur pin code</a> |
                        <a>gwalior pin code</a> |
                        <a>jabalpur pin code</a> |
                        <a>jalandhar pin code</a> |
                        <a>kanpur pin code</a> |
                        <a>kota pin code</a> |
                        <a>kukatpally pin code</a> |
                        <a>meerut pin code</a> |
                        <a>udaipur pin code</a> |
                        <a>vadodara pin code</a> |
                        <a>amritsar pin code</a> |
                        <a>gurugram pin code</a> |
                        <a>mohali pin code</a> |
                        <a>moradabad pin code</a> |
                        <a>mysore pin code</a> |
                        <a>nanded pin code</a> |
                        <a>nellore pin code</a> |
                        <a>rajkot pin code</a> |
                        <a>rohtak pin code</a> |
                        <a>secunderabad pin code</a> |
                        <a>admednagar pin code</a> |
                        <a>aligarh pin code</a> |
                        <a>allahabad pin code</a> |
                        <a>amravati pin code</a> |
                        <a>bathinda pin code</a> |
                        <a>bhiwandi pin code</a> |
                        <a>bikaner pin code</a> |
                        <a>bilaspur pin code</a> |
                        <a>gandhinagar pin code</a> |
                        <a>goa pin code</a> |
                        <a>haridwar pin code</a> |
                        <a>hisar pin code</a> |
                        <a>jalgaon pin code</a> |
                        <a>jhansi pin code</a> |
                        <a>mathhura pin code</a> |
                        <a>panipat pin code</a> |
                        <a>patiala pin code</a> |
                    </p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>