<div class="row mt-0">
    <div class="col-12">
        <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <p>Popular Searches</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <a routerLink="/pincode/560001/karnataka/bangalore/highcourt-so">bangalore pin code</a> |
                        <a routerLink="/pincode/110001/delhi/central-delhi/connaught-place-so">delhi pin code</a> |
                        <a routerLink="/pincode/500001/telangana/hyderabad/gandhi-bhawan-so-hyderabad">hyderabad pin
                            code</a> |
                        <a routerLink="/pincode/400001/maharashtra/mumbai/mumbai-gpo">mumbai pin code</a> |
                        <a routerLink="/pincode/411001/maharashtra/pune/pune-cantt-east-so">pune pin code</a> |
                        <a routerLink="/pincode/380001/gujarat/ahmedabad/gheekanta-road-so">ahmedabad pin code</a> |
                        <a routerLink="/pincode/452001/madhya-pradesh/indore/indore-tukoganj-so">indore pin code</a> |
                        <a routerLink="/pincode/302001/rajasthan/jaipur/rajasthan-state-hotel-so">jaipur pin code</a> |
                        <a routerLink="/pincode/226001/uttar-pradesh/lucknow/lucknow-gpo">lucknow pin code</a> |
                        <a routerLink="/pincode/122001/haryana/gurgaon/gurgaon-ho">gurgaon pin code</a> |
                        <a routerLink="/pincode/462001/madhya-pradesh/bhopal/bhopal-gpo">bhopal pin code</a> |
                        <a routerLink="/pincode/201001/uttar-pradesh/ghaziabad/ghaziabad-ho">ghaziabad pin code</a> |
                        <a routerLink="/pincode/700001/west-bengal/kolkata/kolkatta-gpo">kolkata pin code</a> |
                        <a routerLink="/pincode/440001/maharashtra/nagpur/nagpur-gpo">nagpur pin code</a> |
                        <a routerLink="/pincode/201301/uttar-pradesh/gautam-buddha-nagar/noida-ho">noida pin code</a> |
                        <a routerLink="/pincode/492001/chattisgarh/raipur/ravigram-so">raipur pin code</a> |
                        <a routerLink="/pincode/395003/gujarat/surat/bhagal-so">surat pin code</a> |
                        <a routerLink="/pincode/431001/maharashtra/aurangabad/aurangabad-mh-ho">aurangbad pin code</a> |
                        <a routerLink="/pincode/160017/chandigarh/chandigarh/chandigarh-gpo">chandigarh pin code</a> |
                        <a routerLink="/pincode/600001/tamil-nadu/chennai/chennai-gpo">chennai pin code</a> |
                        <a routerLink="/pincode/141001/punjab/ludhiana/ludhiana-ho">ludhiana pin code</a> |
                        <a routerLink="/pincode/751001/odisha/khorda/bhubaneswar-gpo">bhubaneshwar pin code</a> |
                        <a routerLink="/pincode/248001/uttarakhand/dehradun/nivh-bo">dehradun pin code</a> |
                        <a routerLink="/pincode/781001/assam/kamrup/guwahati-gpo">guwahati pin code</a> |
                        <a routerLink="/pincode/342001/rajasthan/jodhpur/chokhan-bo">jodhpur pin code</a> |
                        <a routerLink="/pincode/422001/maharashtra/nashik/nashik-city-so">nashik pin code</a> |
                        <a routerLink="/pincode/110001/delhi/central-delhi/connaught-place-so">new delhi pin code</a> |
                        <a routerLink="/pincode/800001/bihar/patna/bc-road-so">patna pin code</a> |
                        <a routerLink="/pincode/834001/jharkhand/ranchi/ranchi-gpo">ranchi pin code</a> |
                        <a routerLink="/pincode/400601/maharashtra/thane/thane-rs-so">thane pin code</a> |
                        <a routerLink="/pincode/221001/uttar-pradesh/varanasi/kabirchaura-so">varanasi pin code</a> |
                        <a routerLink="/pincode/282001/uttar-pradesh/agra/agra-ho">agra pin code</a> |
                        <a routerLink="/pincode/243001/uttar-pradesh/bareilly/bareilly-rs-so">bareilly pin code</a> |
                        <a routerLink="/pincode/121003/haryana/faridabad/amarnagar-so-faridabad">faridabad pin code</a>
                        |
                        <a routerLink="/pincode/273001/uttar-pradesh/gorakhpur/gorakhpur-ho">gorakhpur pin code</a> |
                        <a routerLink="/pincode/474001/madhya-pradesh/gwalior/itm-bo">gwalior pin code</a> |
                        <a routerLink="/pincode/482001/madhya-pradesh/jabalpur/piparia-bo">jabalpur pin code</a> |
                        <a routerLink="/pincode/144001/punjab/jalandhar/lajpat-nagar-jalandhar-so">jalandhar pin
                            code</a> |
                        <a routerLink="/pincode/208001/uttar-pradesh/kanpur-dehat/kodwa-bo">kanpur pin code</a> |
                        <a routerLink="/pincode/324001/rajasthan/kota/naya-nohra-bo">kota pin code</a> |
                        <a routerLink="/pincode/500072/telangana/hyderabad/kukatpally-so">kukatpally pin code</a> |
                        <a routerLink="/pincode/250001/uttar-pradesh/meerut/abdullapur-bo">meerut pin code</a> |
                        <a routerLink="/pincode/313001/rajasthan/udaipur/dhinkli-bo">udaipur pin code</a> |
                        <a routerLink="/pincode/390001/gujarat/vadodara/mandvi-so-vadodara">vadodara pin code</a> |
                        <a routerLink="/pincode/143001/punjab/amritsar/nawan-kot-so<">amritsar pin code</a> |
                        <a routerLink="/pincode/122001/haryana/gurgaon/gurgaon-ho">gurugram pin code</a> |
                        <a routerLink="/pincode/140103/punjab/rupnagar/sihon-majra-bo">mohali pin code</a> |
                        <a routerLink="/pincode/244001/uttar-pradesh/moradabad/bhaisian-bo">moradabad pin code</a> |
                        <a routerLink="/pincode/570001/karnataka/mysuru/mysuru-ho">mysore pin code</a> |
                        <a routerLink="/pincode/431601/maharashtra/nanded/nanded-ho">nanded pin code</a> |
                        <a routerLink="/pincode/524001/andhra-pradesh/nellore/nellore-ho">nellore pin code</a> |
                        <a routerLink="/pincode/360001/gujarat/rajkot/rajkot-popatpara-so">rajkot pin code</a> |
                        <a routerLink="/pincode/124001/haryana/rohtak/shivaji-colony-so">rohtak pin code</a> |
                        <a routerLink="/pincode/500003/telangana/hyderabad/begumpet-policelines-so">secunderabad pin
                            code</a> |
                        <a routerLink="/pincode/414001/maharashtra/ahmed-nagar/mgudyan-so">ahmednagar pin code</a> |
                        <a routerLink="/pincode/202001/uttar-pradesh/aligarh/aligarh-ho">aligarh pin code</a> |
                        <a routerLink="/pincode/211001/uttar-pradesh/allahabad/allahabad-ho">allahabad pin code</a> |
                        <a routerLink="/pincode/444601/maharashtra/amravati/amravati-ho">amravati pin code</a> |
                        <a routerLink="/pincode/151001/punjab/bathinda/ind-estate-bathinda-so">bathinda pin code</a> |
                        <a routerLink="/pincode/421308/maharashtra/thane/bhiwandi-so">bhiwandi pin code</a> |
                        <a routerLink="/pincode/334001/rajasthan/bikaner/akasar-bo">bikaner pin code</a> |
                        <a routerLink="/pincode/495001/chattisgarh/bilaspur/bilaspur-bilaspurcgh-ho">bilaspur pin
                            code</a> |
                        <a routerLink="/pincode/382010/gujarat/gandhi-nagar/gandhinagar-gujarat-ho">gandhinagar pin
                            code</a> |
                        <a routerLink="/pincode/403001/goa/north-goa/panaji-ho">goa pin code</a> |
                        <a routerLink="/pincode/249401/uttarakhand/haridwar/haridwar-so">haridwar pin code</a> |
                        <a routerLink="/pincode/125001/haryana/hisar/hisar-ho">hisar pin code</a> |
                        <a routerLink="/pincode/425001/maharashtra/jalgaon/jalgaon-bazar-so">jalgaon pin code</a> |
                        <a routerLink="/pincode/284001/uttar-pradesh/jhansi/jhansi-kutchery-so">jhansi pin code</a> |
                        <a routerLink="/pincode/281001/uttar-pradesh/hathras/kursanda-bo">mathhura pin code</a> |
                        <a routerLink="/pincode/132103/haryana/panipat/panipat-ho">panipat pin code</a> |
                        <a routerLink="/pincode/147001/punjab/patiala/patiala-ho">patiala pin code</a>
                    </p>
                </mat-card-content>
        </mat-card>
    </div>
</div>