<div class="container py-5 marginTop">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-12">
          <app-search></app-search>
          <app-article></app-article>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <app-faq></app-faq>
      <app-contact></app-contact>
      <app-video></app-video>
      <app-states></app-states>
      <app-chandrayaan></app-chandrayaan>
    </div>
  </div>
</div>