
.mat-mdc-form-field {
    min-width: 100%;
}

.verticleDivider {
    border-right: 1px dotted grey;
}
small {
    color: red;
}

mat-icon {
    margin-right: 13px;
}

.spinner {
    width: 24px !important;
    height: 24px !important;
    margin-right: 10px;
}