<div class="container py-5 marginTop">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-12">
                    <mat-card>
                        <div class="border">
                        <mat-card-header>
                            <mat-card-title>
                                <p>About Us</p>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <h2>Welcome to Pincode.Directory!</h2>
                            <p>Pin Code Directory is an initiative started with an aim to
                                provide ease in searching Indian PIN Codes. It is a one stop destination for all the
                                information regarding Indian PIN Code System. </p>
                            <p>We are the leading online resource for Indian
                                PIN Codes. Our goal is to provide accurate and up-to-date information about the Indian
                                PIN
                                Code system. We believe that this information should be easily accessible to everyone,
                                so we
                                make it our mission to provide a user-friendly search tool. Whether you're looking for a
                                specific location or want to find out what PIN Code covers your area, we have all the
                                resources you need.</p>
                            <p> We also offer valuable resources such as a list of frequently asked
                                questions and detailed articles about the Indian PIN Code system. This website provides
                                various search options to make it easier for the user to find the desired information.
                            </p>
                            <p> Thank
                                you for choosing Pin Code Directory!</p>

                        </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <app-search></app-search>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <app-faq></app-faq>
            <app-contact></app-contact>
        </div>
    </div>
</div>