@use '@angular/material' as mat;
$primary: mat.define-palette(mat.$deep-purple-palette);


.navbar {
    a {
        img {
            width: 258px;
            text-decoration: none;
            margin-top: -7px;
        }
    }
}

.link {
    color: #ffffff;

    @media screen and (max-width: 740px) {
        display: none;
    }
}

.mat-mdc-button:not(:disabled) {
    color: #ffffff;
}