@use '@angular/material' as mat;
$primary: mat.define-palette(mat.$deep-purple-palette);

  /** SEarch **/
  strong {
    color:  mat.get-color-from-palette($primary, A400);
  }

  mat-content {
    color:  mat.get-color-from-palette($primary, A400);
  }

  .pin {
    background-color: mat.get-color-from-palette($primary, A400);
    color: #ffffff;
    padding: 7px 7px;
    border-radius: 5px;
  }

  .mat-mdc-form-field {
    min-width: 100%;
}