@use '@angular/material' as mat;
$primary: mat.define-palette(mat.$deep-purple-palette);

  /** SEarch **/
  strong {
    color:  mat.get-color-from-palette($primary, A400);
  }

  mat-content {
    color:  mat.get-color-from-palette($primary, A400);
  }

  .pin {
    background-color: mat.get-color-from-palette($primary, A400);
    color: #ffffff;
    padding: 7px 7px;
    border-radius: 5px;
  }

  .mat-mdc-form-field {
    min-width: 100%;
}

.contentWrap {
  margin-bottom: 7px;
  border-bottom: 1px solid rgb(159, 159, 159);
}

.contentWrap:nth-child(even) {
  background-color: #e8e8e8;
}

.cellFormat {
  margin: auto 0 auto 0;

  .col-4 {
    border: 1px solid rgb(159, 159, 159);
    border-right: none;
    border-bottom: none;
    padding: 7px;
  }

  .col-4:last-child {
    border-right: 1px solid rgb(159, 159, 159);
  }
  
}