<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRZK7LR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="icon-bar">
    <a href="https://www.facebook.com/people/Pin-Code-Directory/100094111921396/" class="facebook" target="_new">
        <img src="../assets/images/facebook.svg" />
    </a>
    <a href="https://www.instagram.com/pincode.directory/" class="instagram" target="_new">
      <img src="../assets/images/instagram.svg" />
    </a>
    <a href="https://in.pinterest.com/pincodedirectory/" class="pinterest" target="_new">
      <img src="../assets/images/pinterest.svg" />
    </a>
  </div>